header{
    background-color: teal;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    text-align: center;
    padding: 5px 20px;
    font-size: 40px;
    text-decoration: underline;
    color: white;

}
main{
    background-color:white;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 68%, rgba(144,255,252,1) 100%);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
}
img{
    border: 3px solid black;
    width: 350px;
    height: auto;
}
footer{
    background-color: teal;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    text-align: center;
    padding: 5px 20px;
    color: white;

}
.favorite-quote{
    font-size: 25px;
}
.quote-reference{
    font-style: italic;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}